<div>
    <span>商品详情</span>
    <span>评价{{ reviews|length }}</span>
    <div id="shop_detail">
        <span>产品参数</span>
        <div id="shop_property">
            {% for value in values %}
                <div class="">
                    <span>{{ value.property.name }}</span>
                    <span>{{ value.value }}</span>
                </div>
            {% endfor %}
        </div>
        <div id="shop_detail_img">
            {% for img in shop.imgs %}
                {% if img.type == 'type_detail' %}
                    <img src="/static/img/detail/{{ img.shop_img_id }}.jpg">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="shop_detail_review">
        {% for review in reviews %}
            <p>
                {{ review.content }}
                {{ review.create_date|date:'Y-m-d' }}
                {{ review.user.user.username }}
            </p>
        {% endfor %}
    </div>
</div>