{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    首页
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock %}

{% block page_js %}
    <script src="{% static 'js/swiper.js' %}" rel="stylesheet" type="text/javascript"></script>
    <script src="{% static 'js/index.js' %}" rel="stylesheet" type="text/javascript"></script>
{% endblock %}

{% block page_head %}

{#    作为公共部分,引入#}
    {% include 'include/common/top.html' %}
    {% include 'include/common/logo.html' %}
    {% include 'include/navigation.html' %}
    <div class="clear">
        {% include 'include/cate.html' %}
        {% include 'include/banner.html' %}
    </div>


{% endblock %}

{% block page_main %}
    {% include  'include/main.html' %}
{% endblock %}