<div id="top">

    <div class="top clear">
        <a href="/"><span><span class="glyphicon glyphicon-home" style="color: #FF0000"></span>天猫首页</span></a>
        <span>&nbsp;喵, 欢迎来天猫</span>

        {% if user.is_authenticated %}
            {#表示登录成功显示#}
            <a href="#">&nbsp;{{ user.username }}</a>
            <a href="{% url 'logout' %}">&nbsp;退出登录</a>
        {% else %}
            {#未登录显示#}
            <a href="{% url 'login' %}">请登录</a>
            <a href="#">&nbsp;免费注册</a>
        {% endif %}

        <span>
        <a href="#">我的订单</a>
        <a href="#"><span class="glyphicon glyphicon-shopping-cart" style="color: #FF0000"></span>购物车
            {% if user.is_authenticated %} <span id="car_number">0</span>件 {% endif %}</a>
    </span>
    </div>


</div>