
.shop > li {
    float: left;
    width: 220px;

}

.shop > li > a p:nth-of-type(1) {
    /*多余字体隐藏*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cate {
    float: left;
}